*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #449904ad,#516395);

}
.container{
    max-width:500px ;
    margin: 200px auto;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 25px rgb(90,87,87,0.3);
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #1c60d5;
    text-shadow: 1px 1px 2px black;
    


}
.status p{
    color: #be0606;
    text-indent: 5px;
    font-size: large;
    /* letter-spacing: 1px; */
    word-spacing: 1px;

}